body {
  width: 100%;
  margin: 0;
}

.content {
  flex: 1;
  align-self: center;
}

.app {
  width: inherit;
  display: flex;
  flex-flow: column wrap;
  & .app-header {
    height: 250px;
    width: inherit;
    object-fit: cover;
  }
}